body {
	font-family: Tahoma, Arial;
	background: rgb(42, 41, 37);
	width: 1000px;
	margin:auto;
	box-sizing: border-box;
}
header {
	display: flex;
	align-items: center;
	background-color: rgb(42, 41, 37);
	width: 1000px;
	height: 120px;
  	z-index: 89;
  	justify-content: flex-end;
  	justify-content: space-between;
  }
#logo{
	padding-right: 20%;
	margin-left: 15px;
}
#logo span{
  font-size: 12px;
  font-family: "Georgia";
  color: rgb(218, 218, 218);
  line-height: 1;
  text-align: left;
  z-index: 108;
}
#logo p{
	font-size: 42px;
	font-family: "Georgia";
	color: #e4dfc8;
	line-height: 1;
	text-align: left;
	z-index: 109;
}
.services{
	display: flex;
	align-items: baseline;
}
.input{
	display: flex;
	align-self: flex-start;
	margin-left: 210px;
}
input[type="text"]{
	width: 120%;
	border: 1px solid white;
	font-size: 12px;
	font-family: "Verdana";
	color: rgb(76, 76, 76);
	line-height: 1;
	text-align: left;
	z-index: 105;
	margin-right: 10px;
}
.button {
	background-color: rgb(149, 166, 10);
	font-size: 10px;
	font-family: "Verdana";
	border: 1px solid white;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: left;
	z-index: 102;
	margin-right: 15px;
}
nav{
	padding-top: 25px;
	padding-right: 250px;	
}
ul{
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
	width: 175%;
}
li>a{
	font-size: 13px;
	text-decoration: none;
	font-family: "Verdana";
	color: rgb(228, 223, 200);
	line-height: 1;
	text-align: left;
	z-index: 94;
	display: block;
	margin-bottom: 7px;	
}
li{
	border-bottom: 2px solid rgb(42, 41, 37);
}	
li:hover{
	border-bottom: 2px solid rgb(149, 166, 10);
}
li>a:hover{
	display: block;
	color: rgb(149, 166, 10);
	text-decoration: none;
}

#intro {
	display:flex;
	background-color: rgb(149, 166, 10);
	width: 1000px;
	height: 450px;
	z-index: 49;
	flex-flow: column nowrap;
}

#upper{
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
}

.textBlock{
	width: 440px;
}
.fourImg{
	display: flex;
	justify-content: space-between;

}
.borderBlock{
	border: 1px solid black;
	margin-left:15px;
}
.img100{
	display: flex;
  background-color: rgb(35, 35, 35);
  width: 100px;
  height: 100px;
  margin: 3px;
  z-index: 77;
}

.res100{
  font-size: 18px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  margin: auto;
}

h1{
  font-size: 42px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  z-index: 87;
  padding-bottom: 20px;
}

.descr{
  font-size: 13px;
  font-family: "Verdana";
  color: rgb(51, 51, 51);
  z-index: 86;
}


#lower{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-right: 15px;
}

#img435x240{
	background-color: rgb(35, 35, 35);
  width: 435px;
  height: 240px;
  margin: 3px;
  display: flex;
}

#res435{
  font-size: 36px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
	margin: auto;
}

aside{
	display: flex;
  background-color: rgb(51, 51, 51);
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
}

.textLeft{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

h2{
  font-size: 18px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  padding-bottom: 15px;	
}

.script{
  font-size: 12px;
  font-family: "Verdana";
  color: rgb(228, 223, 200);
  margin-bottom: 45px;
  margin-right: 15px;
  line-height: 1.5em;

}

.continue{
  font-size: 13px;
  font-family: "Verdana";
  color: rgb(149, 166, 10);
  background-color: rgb(30, 30, 30);
  width: auto;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  align-self: flex-end;
}

aside>.borderBlock{
	align-self: center;
	margin-left: 20px;
}

#img200x200 {
	background-color: rgb(35, 35, 35);
	width: 200px;
	height: 200px;
	margin: 3px;
	display: flex;
}

#res200{
  font-size: 24px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  margin:auto;
}

#copyright {
	display: flex;
	flex-flow: row nowrap;
}

content{
	display: flex;
	background-color: #e4dfc8;
    height: 388px;
}

.block{
	display:flex;
	align-content: center;
	border-radius: 10;
	flex-direction: column;
}

.text {
	font-size: 12px;
	font-family: "Verdana";
	color: rgb(51, 51, 51);
	line-height: 1.2;
	z-index: 44;
	margin-right: 5px;
	margin-top: 20px;
}

.hd{
  font-size: 20px;
  font-family: "Georgia";
  color: rgb(51, 51, 51);
  margin-top: 10px;
}

.hr{
	width: 100%;
	height: 2px;
  background-color: rgb(139, 137, 125);
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textArea{
	margin: 15px;
}

.block>.borderBlock{
	margin:auto;
}

.img300x200{
	background-color: rgb(35, 35, 35);
	width: 300px;
	height: 200px;
	margin: 3px;
	display: flex;
}

.img300x200>span{
  font-size: 24px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
	margin:auto;
}

footer {
	display: flex;
	background-color: rgb(35, 35, 35);
	width: 1000px;
    height: 172px;
	z-index: 8;
	display: flex;
  background-color: rgb(35, 35, 35);
  height: 172px;
 	flex-direction: row;
}

.subscribe{
	margin: 15px;
	margin-top: 25px;
	width: 85%;
}

.subscribe>.hr{
	width: 105%;
}

.sub{
	display: block;
  font-size: 12px;
  font-family: "Verdana";
  color: rgb(152, 152, 154);
  margin-bottom: 10px;
}

.mailForm{
	display: flex;
	align-self: flex-start;
	margin-bottom: 20px;
}

a{
	color: rgb(152, 152, 154);
	text-decoration: none;
}

.cols{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px;
	margin-left: 50px;
}

.col{
	margin-top: 10px;
	width: 30%;
}

.col>span{
  font-size: 12px;
  font-family: "Verdana";
  color: rgb(149, 166, 10);
  line-height: 1.4;
  display: block;
  width: 75%;
}	

#go{
	display: block;
	background-color: rgb(149, 166, 10);
	font-size: 10px;
	font-family: "Verdana";
	border: 1px solid white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(255, 255, 255);
	width: auto;
}

.title{
  font-size: 20px;
  font-family: "Georgia";
  color: rgb(152, 152, 154);
}

#copyright {
	display: flex;
	background-color: rgb(31, 31, 31);
	width: 100%;
	height: 45px;
	z-index: 3;
	align-items: center;
	justify-content: space-between;
}

.cr{
  font-size: 12px;
  font-family: "Verdana";
  color: rgb(82, 82, 82);
	margin: 15px;
}

